<section data-ng-controller="TimeLinesController">
    <div class="page-header">
        <h1>New TimeLine</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>
